<section class="py-24 px-4 flex flex-col items-center gap-14">
  <div class="border-2 border-dashed border-primary px-6 py-2 rotate-[0.5deg]">
    <h2 class="text-3xl font-bold tracking-wide">Sobre</h2>
  </div>
  <div class="w-full max-w-4xl border-2 border-dashed p-6 rotate-[-0.5deg]">
    <p class="text-secondary leading-relaxed">
      Estou no 7º período do curso de Sistemas de Informação na PUC Minas. Minha
      experiência prática com desenvolvimento começou no 1º período da
      faculdade, quando participei do programa Hack a Truck, um curso presencial
      de desenvolvimento em Swift. Nesse projeto, trabalhei em equipe de 
      quatro pessoas no desenvolvimento de um aplicativo em Swift, utilizando
      uma API simulada, voltado para que professores pudessem registrar
      informações sobre os alunos e os pais pudessem visualizá-las.
    </p>

    <p class="text-secondary leading-relaxed mt-4">
      Posteriormente, participei do programa PUC TEC, no qual atuei no
      desenvolvimento de uma plataforma de geolocalização. Após o término do
      programa, continuei trabalhando com a empresa, participando do
      desenvolvimento de plataformas para uma distribuidora de bebidas e para
      uma pizzaria.
    </p>

    <p class="text-secondary leading-relaxed mt-4">
      Atualmente, sou estagiário em uma empresa que vende soluções SAAS no setor
      de mineração.
    </p>
  </div>
</section>
