<div class="w-full">
  <section
    class="relative min-h-screen flex flex-col justify-center items-center text-center gap-4 p-4"
  >
    <p class="text-5xl text-primary">
      Matheus Canuto -
      <span class="text-rotate text-7xl duration-6000">
        <span>
          <span class="font-bold italic px-2">ASP.NET Core</span>
          <span>C#</span>
          <span>Windows Forms</span>
          <span class="font-bold italic px-2">MySQL</span>
          <span class="font-bold italic px-2">Svelte</span>
        </span>
      </span>
    </p>
    <p class="text-secondary text-2xl">
      Sistemas de Informação — PUC Minas — 7º período
    </p>
    <button class="btn btn-accent btn-wide">Baixar currículo em PDF</button>
    <div
      class="absolute bottom-6 flex justify-center w-full animate-bounce opacity-70"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-down"
      >
        <path d="m6 9 6 6 6-6"></path>
      </svg>
    </div>
  </section>
</div>
