---
import BaseHead from "../components/IndexPage/BaseHead.astro";
import Footer from "../components/layout/Footer.astro";
import Header from "../components/layout/Header.astro";
import Hero from "../components/IndexPage/Hero.astro";
import Stack from "../components/IndexPage/Stack.astro";
import Experience from "../components/IndexPage/Experience.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="pt-br" data-theme="business">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <Hero />
    <Stack />
    <Experience />
    <!-- Projetos -->
    <!-- Sobre -->
    <!-- Freelance -->
    <!-- Formação -->
    <!-- Cursos -->
    <!-- Prêmios -->
    <!-- Contato -->
    <Footer />
  </body>
</html>

<style>
  :root {
    --bg: #0f0f0f;
    --text: #f5f5f5;
    --muted: #b5b5b5;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    /* background: var(--bg);
    color: var(--text); */
    font-family: "Caveat", cursive;
  }
</style>
